<bmw-generic-tile>
  <span class="header">{{'BOM_DETAILS' | translate}}</span>
  <div class="bmw__grid__inner">
    <bmw-inputfield class="bmw__grid__cell bmw__grid__cell--span-6">
      <bmw-label>{{'BILL_OF_MATERIAL_ID' | translate}}</bmw-label>
      <input bmwInput [(ngModel)]="bom.billOfMaterialId" [readOnly]="true">
    </bmw-inputfield>
    <bmw-inputfield class="bmw__grid__cell bmw__grid__cell--span-6">
      <bmw-label>{{'VEHICLE_ID' | translate}}</bmw-label>
      <input bmwInput [(ngModel)]="bom.vehicleId" [readOnly]="true">
    </bmw-inputfield>
    <div class="bmw__grid__cell bmw__grid__cell--span-6">
      <bmw-label for="date-of-pickup">{{'START_DATE' | translate}}</bmw-label>
      <bmw-datepicker
        inputId="date-of-pickup"
        [required]="true"
        placeholder="YYYY-MM-DD"
        dateFormat="yy-mm-dd"
        [showButtonBar]="true"
        [(ngModel)]="bom.startDate"
        [showWeek]="true"
        [readonly]="true"
      >
        <bmw-error-message>Sorry, this field can not be empty.</bmw-error-message>
      </bmw-datepicker>
    </div>
    <div class="bmw__grid__cell bmw__grid__cell--span-6">
      <bmw-label for="date-of-pickup">{{'END_DATE' | translate}}</bmw-label>
      <bmw-datepicker
        inputId="date-of-pickup"
        [required]="true"
        placeholder="YYYY-MM-DD"
        dateFormat="yy-mm-dd"
        [showButtonBar]="true"
        [(ngModel)]="bom.endDate"
        [showWeek]="true"
        [readonly]="true"
      >
        <bmw-error-message>Sorry, this field can not be empty.</bmw-error-message>
      </bmw-datepicker>
    </div>
    <bmw-inputfield class="bmw__grid__cell bmw__grid__cell--span-6">
      <bmw-label>{{'STATUS' | translate}}</bmw-label>
      <input bmwInput [(ngModel)]="bom.status" [readOnly]="true">
    </bmw-inputfield>
  </div>
  <div class="footer">
    <bmw-button button="primary" (click)="onModifyBom()">{{'MODIFY_BOM' | translate}}</bmw-button>
    <bmw-button button="secondary" (click)="onPublishBom()" *ngIf="bom.status === 'DRAFT'">{{'PUBLISH_BOM' | translate}}</bmw-button>
    <bmw-button button="warning" (click)="onDeleteBom()">{{'DELETE_BOM' | translate}}</bmw-button>
    <bmw-button button="tertiary" (click)="onBack()">{{'BACK' | translate }}</bmw-button>
  </div>
</bmw-generic-tile>
<bmw-generic-tile>
  <span class="header">{{'PART_FAMILIES' | translate}}</span>
  <bmw-ag-grid-theme>
    <!-- <ag-grid-angular class="zebra bmw-blue"
                     [columnDefs]="columnDefs"
                     [defaultColDef]="defaultColDef"
                     [domLayout]='"autoHeight"'
                     [rowData]="bom?.partFamilies ?? []"
                     [rowSelection]="'single'"
                     (selectionChanged)="onSelectionChanged($event)"
    >
    </ag-grid-angular> -->
  </bmw-ag-grid-theme>
  <div class="footer">
    <bmw-button button="primary" (click)="onAddPartFamily()">{{'ADD_PART_FAMILY' | translate}}</bmw-button>
  </div>
</bmw-generic-tile>
