#!/bin/bash
DNS=$(cat <<-EOF
DNS.1 = hackathon.ttd-blue.azure.bmw.cloud
DNS.2 = call-off-service-ui.ttd-blue.azure.bmw.cloud
DNS.3 = call-off-service-java.ttd-blue.azure.bmw.cloud
DNS.4 = call-off-service-c.ttd-blue.azure.bmw.cloud
DNS.5 = call-off-service-python.ttd-blue.azure.bmw.cloud
DNS.6 = parts-service-ui.ttd-blue.azure.bmw.cloud
DNS.7 = parts-service-java.ttd-blue.azure.bmw.cloud
DNS.8 = parts-service-c.ttd-blue.azure.bmw.cloud
DNS.9 = parts-service-python.ttd-blue.azure.bmw.cloud
DNS.10 = bom-service-ui.ttd-blue.azure.bmw.cloud
DNS.11 = bom-service-java.ttd-blue.azure.bmw.cloud
DNS.12 = bom-service-c.ttd-blue.azure.bmw.cloud
DNS.13 = bom-service-python.ttd-blue.azure.bmw.cloud
DNS.14 = vehicle-order-service-ui.ttd-blue.azure.bmw.cloud
DNS.15 = vehicle-order-service-java.ttd-blue.azure.bmw.cloud
DNS.16 = vehicle-order-service-c.ttd-blue.azure.bmw.cloud
DNS.17 = vehicle-order-service-python.ttd-blue.azure.bmw.cloud
DNS.18 = akhq.ttd-blue.azure.bmw.cloud
DNS.19 = call-off-service-ui-c.ttd-blue.azure.bmw.cloud
DNS.20 = call-off-service-ui-java.ttd-blue.azure.bmw.cloud
DNS.21 = call-off-service-ui-python.ttd-blue.azure.bmw.cloud
DNS.22 = parts-service-ui-c.ttd-blue.azure.bmw.cloud
DNS.23 = parts-service-ui-java.ttd-blue.azure.bmw.cloud
DNS.24 = parts-service-ui-python.ttd-blue.azure.bmw.cloud
DNS.25 = bom-service-ui-c.ttd-blue.azure.bmw.cloud
DNS.26 = bom-service-ui-java.ttd-blue.azure.bmw.cloud
DNS.27 = bom-service-ui-python.ttd-blue.azure.bmw.cloud
DNS.28 = vehicle-order-service-ui-c.ttd-blue.azure.bmw.cloud
DNS.29 = vehicle-order-service-ui-java.ttd-blue.azure.bmw.cloud
DNS.30 = vehicle-order-service-ui-python.ttd-blue.azure.bmw.cloud
DNS.31 = bom-service-devops.ttd-blue.azure.bmw.cloud
EOF
)
