.bmw-bar {
  display: flex;
}

img {
  margin: 10px;
}

#app-name {
  margin: 10px;
  font-size: 1.4em;
}

#user-names {
  margin: 10px;
  font-size: 1.2em;
}

[iconClass="iwp-icon-gen_home"] {
  margin: 5px 5px 10px auto;
  font-size: 1.2em;
}
