<div class="bmw-bar">
  <div class="bmw-icons">
    <img src="../../../assets/icons/bmw-group.PNG" width="42px" height="20px">
    <img src="../../../assets/icons/badge.PNG" width="20px" height="20px">
    <img src="../../../assets/icons/badge-mini.PNG" width="45px" height="20px">
    <img src="../../../assets/icons/rolls-royce.PNG" width="41px" height="12px">
  </div>
  <span id="app-name">Vehicle BOM</span>
  <bmw-icon-button id="btn-home" name="btn-home" iconClass="iwp-icon-gen_home" (clickEvent)="goHome()"></bmw-icon-button>
  <span id="user-names">{{ profile?.given_name + ' ' + profile?.family_name }}</span>
</div>
